.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(1rem, 5vw, 4rem);
  background: #F6FAFD;
  border-bottom: 1px solid #EAEEF4;
  position: relative;
  top: clamp(-1rem, -2vw, -1rem);
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);
  
   
}
.logo__icon {
  font-size: clamp(2rem, 8vw, 4rem);
  
  color: #305078;
}